.preview-url {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #eee;
  font-size: 12px;
  border-radius: 10px;
  display: block;
  color: black;
  padding-right: 90px;
  word-break: break-all;

  & + .preview-url {
    margin-top: 10px;
  }
}
