.preview-urls {
  width: 100%;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.preview-urls-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }
}