.preview-urls {
  width: 100%;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.preview-url {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 10px;
  display: block;
  color: black;
}
